/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  line-height: 1.6;

  direction: rtl;      /* متن راست‌چین */
  text-align: right;   /* تراز متن به راست */
}


a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

img {
  max-width: 100%;
  display: block;
}
